<h2> COLLECTIONS MODULE

In [1]:
from collections import Counter

In [2]:
arr = [1,1,1,1,2,2,2,2,2,3,3,3,3,4,4,5,5,5]

Quickly count the number of elements in a list

In [3]:
Counter(arr)

Counter({1: 4, 2: 5, 3: 4, 4: 2, 5: 3})

In [7]:
s = 'dsfffffkllllkwlfjf'
Counter(s)

Counter({'d': 1, 's': 1, 'f': 7, 'k': 2, 'l': 5, 'w': 1, 'j': 1})

Quickly count the number of words in a string

In [8]:
s1 = "How you doing how is this this thing doing, how do you know"

In [9]:
Counter(s1)

Counter({'H': 1,
         'o': 9,
         'w': 4,
         ' ': 12,
         'y': 2,
         'u': 2,
         'd': 3,
         'i': 6,
         'n': 4,
         'g': 3,
         'h': 5,
         's': 3,
         't': 3,
         ',': 1,
         'k': 1})

In [13]:
words = s1.split()
words

['How',
 'you',
 'doing',
 'how',
 'is',
 'this',
 'this',
 'thing',
 'doing,',
 'how',
 'do',
 'you',
 'know']

In [14]:
Counter(words)

Counter({'How': 1,
         'you': 2,
         'doing': 1,
         'how': 2,
         'is': 1,
         'this': 2,
         'thing': 1,
         'doing,': 1,
         'do': 1,
         'know': 1})

In [15]:
c = Counter(words)

In [16]:
dict(c)

{'How': 1,
 'you': 2,
 'doing': 1,
 'how': 2,
 'is': 1,
 'this': 2,
 'thing': 1,
 'doing,': 1,
 'do': 1,
 'know': 1}

In [17]:
list(c)

['How', 'you', 'doing', 'how', 'is', 'this', 'thing', 'doing,', 'do', 'know']

In [18]:
c.items()

dict_items([('How', 1), ('you', 2), ('doing', 1), ('how', 2), ('is', 1), ('this', 2), ('thing', 1), ('doing,', 1), ('do', 1), ('know', 1)])

In [19]:
c.most_common()

[('you', 2),
 ('how', 2),
 ('this', 2),
 ('How', 1),
 ('doing', 1),
 ('is', 1),
 ('thing', 1),
 ('doing,', 1),
 ('do', 1),
 ('know', 1)]

In [20]:
c.keys()

dict_keys(['How', 'you', 'doing', 'how', 'is', 'this', 'thing', 'doing,', 'do', 'know'])

In [21]:
c.values()

dict_values([1, 2, 1, 2, 1, 2, 1, 1, 1, 1])

In [22]:
from collections import defaultdict

In [23]:
d = {'k1':1}

In [24]:
d['k1']

1

In [25]:
d['k2']

KeyError: 'k2'

In [26]:
d = defaultdict(lambda: 0)

In [27]:
d['first']

0

In [28]:
d['second'] = 2

In [30]:
d['second']

2

In [31]:
d['first']

0

In [32]:
from collections import OrderedDict

In [41]:
d1 = OrderedDict()
d1['a'] = 1
d1['b'] = 2

d2 = OrderedDict()
d2['b'] = 2
d2['a'] = 1

In [42]:
d1==d2

False

In [43]:
d1 = {}
d1['a'] = 1
d1['b'] = 2

d2 = {}
d2['b'] = 2
d2['a'] = 1

In [44]:
d1 == d2

True

In [45]:
from collections import namedtuple

In [46]:
t = (1,2,3)

In [47]:
t[0]

1

In [49]:
# Assigns names to tuple values
Dog = namedtuple('Dog' ,' age breed name')

In [50]:
sam = Dog(age = 2, breed = 'Lebra', name = 'Sammy')

In [51]:
sam

Dog(age=2, breed='Lebra', name='Sammy')

In [52]:
sam.breed

'Lebra'

In [56]:
sam[0]

2

In [58]:
18,36,37,49,50, # Generators # iterTools

(18, 36, 37, 49, 50)

In [2]:
"Hey man I am {1} fromm {0}".format("Akshit", "YNR")

'Hey man I am YNR fromm Akshit'

In [3]:
"Hey man {name} from {place}".format(place = "YNR", name = "Akshit")

'Hey man Akshit from YNR'

In [8]:
"The value of pi {:4.3f}".format(3.142861348943)

'The value of pi 3.143'

In [9]:
word = 'abcde'

In [12]:
for index, letter in enumerate(word):
    print(str(index)+"  "+letter)

0  a
1  b
2  c
3  d
4  e

In [13]:
1 in [1,2,3]

True

In [15]:
'x' in [1,2,3]

False

In [16]:
'a' in 'Akshit'

False

In [17]:
'i' in 'akshit'

True

In [18]:
min([1,2,3,4])

1

In [19]:
max([1,2,3,4])

4

In [20]:
mylist = [i  for i in 'Akshit Arora']

In [21]:
mylist

['A', 'k', 's', 'h', 'i', 't', ' ', 'A', 'r', 'o', 'r', 'a']

In [22]:
square = [num**2 for num in range(4)]

In [23]:
square

[0, 1, 4, 9]

In [24]:
def lesser(a, b):
    if(a%2==0 and b%2==0):
        return min(a,b)
    return max(a,b)

In [27]:
lesser(2,4)

2

In [29]:
def animals(text):
    if text.count(text[0])>1:
        return True
    return False

In [30]:
animals("Leo Loy")

True

In [31]:
animals("Leo Jan")

False

In [32]:
def makes_twenty(a,b):
    if(a==20 or b == 20 or a+b ==20):
        return True
    return False

In [110]:
def capitalize_it(name):
    char_list = list(name)
    char_list[0] = chr(ord(char_list[0]) -32)
    char_list[3] = chr(ord(char_list[3]) -32)
    return "".join(char_list)

In [98]:
def yoda(sen):
    return " ".join(sen.split(' ')[::-1])

In [99]:
yoda("We are god damn reaady")

'reaady damn god are We'

In [111]:
capitalize_it("macdonals")

'MacDonals'

In [117]:
def almostThere(num):
    return round(num)

In [118]:
almostThere(99)

99

In [122]:
def has_33(nums):
    for i in range(len(nums)-1):
        if nums[i]==3 and nums[i+1]==3:
            return True
    return False

In [125]:
has_33([1, 3, 3]) 
#has_33([1, 3, 1, 3]) 
#has_33([3, 1, 3])

True

In [126]:
def paper_doll(text):
    rps =""
    for letter in text:
        rps= rps + letter*3
    return rps

In [128]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [145]:
def summer_69(arr):
    if(arr.count(6)):
        return sum(arr)-sum(arr[arr.index(6):arr.index(9)+1])
    return sum(arr)

In [146]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [159]:
def spy_game(nums):
    return helper(nums, num)
def helper(nums, num):
    nums.index()

In [162]:
spy_game([1,2,4,0,0,0,7])

True

In [163]:
def count_primes(num):
    pass

In [171]:
li = [4, 5, 5, 7, 8, 9]

In [172]:
if(li.count(5)):
    print(li.index(5))

1

In [173]:
# LAMBDA, FILTER, MAP FUNCTION

In [177]:
list(map(lambda x: x**2, range(8)))

[0, 1, 4, 9, 16, 25, 36, 49]

In [181]:
list(map(lambda x: len(x), ["Hello", "little", "ome"]))

[5, 6, 3]

In [191]:
square =lambda num:num**2

In [192]:
square(3)

9

In [193]:
list(filter(lambda num: num%2==0, [1,2,3,4,5,6]))

[2, 4, 6]